
<div>
   <% for(var a of hospital){ %>
      <div id="patientId2">
         <div id="patientImage2"></div>
         <div id="patientName2">
      <a  href="/user/hospitalSearch?id=<%=a._id%>"><%= a.hospitalName %></a>
      </div>
      </div>
   <% } %>
</div>